:root {
  --primary-color: #3764eb;
  --dark-color: #2d3035;
  --border-color: #f0efef;
  --white-color: #ffffff;
  --red-color: #e80000;
  --black-color: #212121;
}

* {
  padding: 0;
  margin: 0;
  font-family: "MontserratRegular";
  box-sizing: border-box;
}
h3 {
  font-size: 28px;
  font-family: var(--default-font-thin);
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

p,
a,
span,
div {
  font-size: 14px;
}

section {
  display: flex;
  justify-content: center;
}

.container {
  width: 1260px;
  padding: 10px;

  @media screen and (max-width: 1200px) {
    width: 900px;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem;
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-bold {
  font-family: "MontserratBold";
}

.text-thin {
  font-family: "MontserratThin";
}

.text-center {
  text-align: center;
}

.full {
  width: 100%;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("fonts/MontserratRegular.eot");
  src: url("fonts/MontserratRegular.eot") format("embedded-opentype"),
    url("fonts/MontserratRegular.woff2") format("woff2"),
    url("fonts/MontserratRegular.woff") format("woff"),
    url("fonts/MontserratRegular.ttf") format("truetype"),
    url("fonts/MontserratRegular.svg#MontserratRegular") format("svg");
}

@font-face {
  font-family: "MontserratThin";
  src: url("fonts/MontserratThin.eot");
  src: url("fonts/MontserratThin.eot") format("embedded-opentype"),
    url("fonts/MontserratThin.woff2") format("woff2"),
    url("fonts/MontserratThin.woff") format("woff"),
    url("fonts/MontserratThin.ttf") format("truetype"),
    url("fonts/MontserratThin.svg#MontserratThin") format("svg");
}

@font-face {
  font-family: "MontserratBold";
  src: url("fonts/MontserratBold.eot");
  src: url("fonts/MontserratBold.eot") format("embedded-opentype"),
    url("fonts/MontserratBold.woff2") format("woff2"),
    url("fonts/MontserratBold.woff") format("woff"),
    url("fonts/MontserratBold.ttf") format("truetype"),
    url("fonts/MontserratBold.svg#MontserratBold") format("svg");
}
