.layout {
  height: 80px;
  width: 100%;
}

.content {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: var(--white-color);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  column-gap: 20px;
  list-style: none;

  li {
    &:hover {
      .link {
        color: var(--primary-color);
      }
    }
  }
}

.link {
  transition: 0.3s;
  color: var(--dark-color);
}

.active {
  display: flex;
  justify-content: center;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    bottom: -5px;
    border-radius: 6px;
    background-color: var(--primary-color);
  }

  a {
    color: var(--primary-color);
  }
}

.sticky {
  position: fixed;

  &Close {
    top: -80px;
  }

  &Open {
    top: 0;
  }
}
