.button {
  border: none;
  background: transparent;
  color: var(--black-color);
  width: 46px;
  height: 46px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition: 0.3s;
  border-radius: 999px;

  &:hover {
    background: var(--primary-color);
    color: var(--white-color);
  }
}
